.App {
  text-align: center;
}

#form{
  height: 380px;
  width: 500px;
  background-color: aquamarine;
  /* display: flex; */
  flex-direction: row;
  margin-left: 450px;
  padding: 10px;
  padding-top: 50px;
  border-radius: 10px;
}
.input{
  border: none;
  width: 280px;
  height: 20px;
}
#btn{
  width: 160px;
  height: 40px;
  background-color: aliceblue;
 border-radius: 50px;
 font-size: 20px;
}

#error{
  color: red;
}
#success{
  color: green;
}